<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <title>Document</title>
</head>
<body>
        <div class="head">
            <h1 class="header">FindProff</h1>
            <a th:href="@{/my-account}">Аккаунт</a>

            <p>Город</p>
            <form th:action="@{/worker/get-necessary-workers}" method="get">
                <select>
                    <option value="0">select option</option>
                    <option th:each="city:${cities}" th:value="${city.name}" th:text="${city.name}"></option>
                </select>
                <select>
                    <option value="выберете специализацию"></option>
                    <option th:each="spec:${specializations}" th:value="${spec.name}" th:text="${spec.name}"></option>
                </select>
                <input type = "submit" value = "подтвердить">
            </form>

        </div>
</body>
</html>