<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <title>Document</title>
</head>
<body>
        <div class="head">
            <h1 class="header">FindProff</h1>
            <a th:href="@{/my-account}">Аккаунт</a>
            <a th:href="@{/pages/workerForm}">Стать специалистом!</a>
            <form th:action="@{/worker/get-necessary-workers}" method="get">
                <span>Город:</span>
                <select name="cityId">
                    <option value="0">select option</option>
                    <option th:each="city:${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                </select>
                <span>Специализация</span>
                <select name="specId">
                    <option value="0">select option</option>
                    <option th:each="spec:${specializations}" th:value="${spec.id}" th:text="${spec.name}"></option>
                </select>
                <input type = "submit" value = "подтвердить">
            </form>

        </div>
</body>
</html>