<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div class="head">
    <h1>FindProff</h1>
</div>
    <form th:action="@{/worker/save}" method="post">
        <span>Выберете город</span>
        <select name="cityId">
            <option>select option</option>
            <option th:each="city:${cities}" th:value="${city.id}" th:text="${city.name}"></option>
        </select>
        <select name="specId">
            <option>select option</option>
            <option th:each="spec:${specializations}" th:value="${spec.id}" th:text="${spec.name}"></option>
        </select>
        <button type="submit">Стать специалистом!</button>
    </form>
</body>
</html>